# 準備

In [1]:
import math
import machine_learning_datasets as mldatasets
import pandas as pd
import numpy as np
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn import metrics, linear_model, tree, discriminant_analysis,\
                    ensemble, neural_network, inspection
import matplotlib.pyplot as plt
import pdpbox
from pycebox.ice import ice, ice_plot

/usr/local/lib/python3.6/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = mldatasets.load('personality-birthorder', prepare=True)

https://openpsychometrics.org/_rawdata/FBPS-ValidationData.zip downloaded to /root/opt/data/FBPS-ValidationData.zip
/root/opt/data/FBPS-ValidationData.zip uncompressed to /root/opt/data/FBPS-ValidationData
1 dataset files found in /root/opt/data/FBPS-ValidationData folder
parsing /root/opt/data/FBPS-ValidationData/FBPS-ValidationData/FBPS-ValidationData.csv

In [3]:
df.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,country_AU,country_CA,country_GB,country_IE,country_NZ,country_US,source_undefined,source_google,source_direct,birthorder
3,2,1,3,2,4,3,3,3,3,5,...,0,0,0,0,0,1,1,0,0,1
4,2,1,4,5,2,5,4,4,2,5,...,0,0,0,0,0,1,1,0,0,1
5,5,1,1,3,2,2,4,3,3,5,...,0,0,0,0,0,1,0,1,0,1
6,2,2,3,5,3,2,4,4,5,5,...,0,0,0,0,0,1,0,0,1,1
7,4,5,5,5,3,5,4,4,5,4,...,0,0,0,0,0,1,0,1,0,1

In [4]:
df.describe()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,country_AU,country_CA,country_GB,country_IE,country_NZ,country_US,source_undefined,source_google,source_direct,birthorder
count,25813.000000,25813.000000,25813.000000,25813.000000,25813.000000,25813.000000,25813.000000,25813.000000,25813.000000,25813.000000,...,25813.000000,25813.000000,25813.000000,25813.000000,25813.000000,25813.000000,25813.000000,25813.000000,25813.000000,25813.000000
mean,2.771549,2.404602,3.479642,3.019293,3.008910,2.989230,3.333669,3.617518,3.595746,3.926897,...,0.073684,0.081083,0.085073,0.010072,0.015767,0.734320,0.403789,0.407895,0.188316,1.920389
std,1.389309,1.644840,1.277640,1.413205,1.235201,1.388629,1.240134,1.194782,1.228135,1.261197,...,0.261261,0.272968,0.278996,0.099857,0.124576,0.441703,0.490666,0.491453,0.390972,0.870363
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,1.000000,3.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,3.000000,2.000000,4.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000
75%,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,5.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,3.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25813 entries, 3 to 41840
Data columns (total 97 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Q1                25813 non-null  int64
 1   Q2                25813 non-null  int64
 2   Q3                25813 non-null  int64
 3   Q4                25813 non-null  int64
 4   Q5                25813 non-null  int64
 5   Q6                25813 non-null  int64
 6   Q7                25813 non-null  int64
 7   Q8                25813 non-null  int64
 8   Q9                25813 non-null  int64
 9   Q10               25813 non-null  int64
 10  Q11               25813 non-null  int64
 11  Q12               25813 non-null  int64
 12  Q13               25813 non-null  int64
 13  Q14               25813 non-null  int64
 14  Q15               25813 non-null  int64
 15  Q16               25813 non-null  int64
 16  Q17               25813 non-null  int64
 17  Q18               25813 non-null  int64
 18  Q19               25813 non-null  int64
 19  Q20               25813 non-null  int64
 20  Q21               25813 non-null  int64
 21  Q22               25813 non-null  int64
 22  Q23               25813 non-null  int64
 23  Q24               25813 non-null  int64
 24  Q25               25813 non-null  int64
 25  Q26               25813 non-null  int64
 26  age               25813 non-null  int64
 27  engnat            25813 non-null  int64
 28  birthn            25813 non-null  int64
 29  EXT1              25813 non-null  int64
 30  EXT2              25813 non-null  int64
 31  EXT3              25813 non-null  int64
 32  EXT4              25813 non-null  int64
 33  EXT5              25813 non-null  int64
 34  EXT6              25813 non-null  int64
 35  EXT7              25813 non-null  int64
 36  EXT8              25813 non-null  int64
 37  EXT9              25813 non-null  int64
 38  EXT10             25813 non-null  int64
 39  EST1              25813 non-null  int64
 40  EST2              25813 non-null  int64
 41  EST3              25813 non-null  int64
 42  EST4              25813 non-null  int64
 43  EST5              25813 non-null  int64
 44  EST6              25813 non-null  int64
 45  EST7              25813 non-null  int64
 46  EST8              25813 non-null  int64
 47  EST9              25813 non-null  int64
 48  EST10             25813 non-null  int64
 49  AGR1              25813 non-null  int64
 50  AGR2              25813 non-null  int64
 51  AGR3              25813 non-null  int64
 52  AGR4              25813 non-null  int64
 53  AGR5              25813 non-null  int64
 54  AGR6              25813 non-null  int64
 55  AGR7              25813 non-null  int64
 56  AGR8              25813 non-null  int64
 57  AGR9              25813 non-null  int64
 58  AGR10             25813 non-null  int64
 59  CSN1              25813 non-null  int64
 60  CSN2              25813 non-null  int64
 61  CSN3              25813 non-null  int64
 62  CSN4              25813 non-null  int64
 63  CSN5              25813 non-null  int64
 64  CSN6              25813 non-null  int64
 65  CSN7              25813 non-null  int64
 66  CSN8              25813 non-null  int64
 67  CSN9              25813 non-null  int64
 68  CSN10             25813 non-null  int64
 69  OPN1              25813 non-null  int64
 70  OPN2              25813 non-null  int64
 71  OPN3              25813 non-null  int64
 72  OPN4              25813 non-null  int64
 73  OPN5              25813 non-null  int64
 74  OPN6              25813 non-null  int64
 75  OPN7              25813 non-null  int64
 76  OPN8              25813 non-null  int64
 77  OPN9              25813 non-null  int64
 78  OPN10             25813 non-null  int64
 79  screensize        25813 non-null  int64
 80  introelapse       25813 non-null  int64
 81  testelapse        25813 non-null  int64
 82  endelapse         25813 non-null  int64
 83  gender_undefined  25813 non-null  uint8
 84  gender_male       25813 non-null  uint8
 85  gender_female     25813 non-null  uint8
 86  gender_other      25813 non-null  uint8
 87  country_AU        25813 non-null  uint8
 88  country_CA        25813 non-null  uint8
 89  country_GB        25813 non-null  uint8
 90  country_IE        25813 non-null  uint8
 91  country_NZ        25813 non-null  uint8
 92  country_US        25813 non-null  uint8
 93  source_undefined  25813 non-null  uint8
 94  source_google     25813 non-null  uint8
 95  source_direct     25813 non-null  uint8
 96  birthorder        25813 non-null  int64
dtypes: int64(84), uint8(13)
memory usage: 17.1 MB

In [6]:
rand=9
y=df['birthorder']
X=df.drop(['birthorder'],axis=1).copy()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=rand)

# 特徴量が結果に与える影響を測定する
この演習では、学習用データを決定木、勾配ブースティング木、ランダムフォレスト、ロジスティック回帰、多層パーセプトロン、線形判別分析で学習する。

### LDA(線形判別分析)
LDA(Linear Discriminant Analysis)はいくつかの仮定を持っている。次元削減と一緒。クラス間の分散を大きく、クラス内の分散は小さくするような関数を考えて、決定境界を引くことでクラス判別を行う。  
線形判別分析では、適当な線形変換によってデータを直線ｚ上に写像し、２つのクラスに判別している。線形判別分析はこの射影先の直線ｚを見つけるための手法の１つ。

![](https://cdn.discordapp.com/attachments/633986787529981975/954663883832967178/unknown.png)

以下の式で１次元に射影する。  
$$y_n = {w}^T {x}_n$$
一般的に１次元への射影は相当量の情報の損失を発生させる。重みベクトル $w$ を調整することで、クラスの分離を最大にする射影を選択する。以下のようなデータ $c_1,c_2$を考える。
![](https://cdn.discordapp.com/attachments/633986787529981975/954669309169381426/unknown.png)  
クラス $c_1$ のデータ数が $N_1$ 、クラス $c_1$ のデータ数が $N_2$ ある。この２つのクラスの平均ベクトルは、  
$$m_1 = \frac{1}{N_1}\sum_{n \in C_1}{x_n},\quad m_2=\frac{1}{N_2}\sum_{n\in C_2}{x_n}$$
で得られる。この $m_1, m_2$ を各クラスの代表値として、この２点が線形変換ベクトル $w$ によって射影されたときに最も離れるようにする。  
$w$ 上へ射影された際のクラス分離度の測定するには、射影されたクラスの平均の分離度を見ればよい。  
$${w}^T m_1 - {w}^T m_2 = {w}^T(m_1 - m_2) \\
m_k = {w}^T {m}_k$$  
これが最大になるように $w$を決定する。ただし、この式は$w$を大きくすればするほどいくらでも大きな値にできてしまう。これを避けるために、$w$は単位長であるという制約を加える。つまり、  
$$
|w|=1 \\
\sum_{i}w_i^2 = 1
$$
とする。制約付き最大化問題と見ると、ラグランジュ乗数を使えるので、  
$$
w\propto (m_1 - m_2)
$$
と求められる。

これは、$w$が各クラスの平均値を結ぶ線分と平行になることを意味する。実際にベクトル$w$から決定境界の直線を引くと、決定境界の直線は$w$に直行し、各クラスの平均を結ぶ線分の中点を通る直線になっているため、以下のようになる。
![](https://cdn.discordapp.com/attachments/633986787529981975/954817318318383204/unknown.png)  
$c_1$の青い点が決定境界の直線上にあり、これだけではまだ足りない。
> PRMLでは、「クラス分布の非対角な共分散が強いために起こる問題である。」と書いてある。よくわからない。

各クラスの平均値だけをみているとうまく判別することができない。例えば、$c_1$の青い点が$c_2$の赤い点が密集している位置に混ざっていても、一方で$c_2$から遠く離れた位置にたくさんの青い点が存在すれば、平均的には２つのクラスは離れているとみなされてしまう。つまり、各クラスの点のばらつきが大きいと、平均的な位置が離れていても適切な決定境界を引くことができない。
そこで、クラスの平均値のみでなく、射影されたクラス平均間の分離度を大きくすると同時に、各クラス内では小さな分散を与える関数を最大化することで、これを解消する。

射影後の各クラス内の分散を数式で表すと、クラス$C_k$から射影されたデータのクラス内分散は、
$$
s_k^2 = \sum_{n \in C_k}(y_n - m_k)^2
$$
で与えられる。ここで、$y_n = w^T x_n$であり、$m_k = w^T m_k$であることから、クラスが２つの場合、
$$
s_1^2 = \sum_{n \in C_1} (w^T x_n - w^T m_1)^2 \\
s_2^2 = \sum_{n \in C_2} (w^T x_n - w^T m_2)^2
$$
となる。したがって、総クラス内分散を次のように定義する。
$$
s^2 = s_1^2 + s_2^2
$$
フィッシャーの判別規準はクラス内分散とクラス間分散の比で定義され、
$$
J(w) = \frac{(m_2 - m_1)^2}{s_1^2 + s_2^2}
$$
で与えられる。分子はクラス間の分離度の平均であるが、分母が総クラス内分散であるために、分子も分散の形で表している。

In [7]:
class_models = {
    #Tree
    'decision_tree':{
        'model':tree.DecisionTreeClassifier(max_depth=6, random_state=rand, class_weight='balanced')
    },
    #Emsemble Methods
    'gradient_boosting':{
        'model':ensemble.GradientBoostingClassifier(n_estimators=200, max_depth=4, subsample=0.5, learning_rate=0.05)
    },
    'random_forest':{
        'model':ensemble.RandomForestClassifier(max_depth=11, n_estimators=300, max_features='sqrt', random_state=rand)
    },
    #Generalized Linear Models(GLMs)
    'logistic':{
        'model':linear_model.LogisticRegression(multi_class='ovr', solver='lbfgs', class_weight='balanced', max_iter=500)
    },
    #Discriminant Analysis
    'ida':{
        'model':discriminant_analysis.LinearDiscriminantAnalysis(n_components=2)
    },
    #Neurak Netwworks
    'mlp':{
        'model':make_pipeline(StandardScaler(), neural_network.MLPClassifier(hidden_layer_sizes=(11,), \
                                                                             early_stopping=True, random_state=rand,\
                                                                             validation_fraction=0.25, max_iter=500))
    }
}

In [12]:
for model_name in class_models.keys():
    fitted_model = class_models[model_name]['model'].fit(X_train,y_train)
    y_train_pred = fitted_model.predict(X_train)
    y_test_pred = fitted_model.predict(X_test)
    class_models[model_name]['fitted'] = fitted_model
    class_models[model_name]['preds'] = y_test_pred
    class_models[model_name]['Accuracy_train'] = metrics.accuracy_score(y_train, y_train_pred)
    class_models[model_name]['Accuracy_test'] = metrics.accuracy_score(y_test, y_test_pred)
    class_models[model_name]['Recall_train'] =\
    metrics.recall_score(y_train, y_train_pred, average='weighted')
    class_models[model_name]['Recall_test'] =\
    metrics.recall_score(y_test, y_test_pred, average='weighted')
    class_models[model_name]['Precision_train'] =\
    metrics.precision_score(y_train, y_train_pred, average='weighted')
    class_models[model_name]['Precision_test'] =\
    metrics.precision_score(y_test, y_test_pred, average='weighted')
    class_models[model_name]['F1_test'] =\
    metrics.f1_score(y_test, y_test_pred, average='weighted')
    class_models[model_name]['MCC_test'] =\
    metrics.matthews_corrcoef(y_test, y_test_pred)

In [13]:
class_metrics = pd.DataFrame.\
    from_dict(class_models, 'index')[['Accuracy_train', 'Accuracy_test',\
                                      'Recall_train', 'Recall_test',\
                                      'Precision_train', 'Precision_test',\
                                      'F1_test', 'MCC_test']]
with pd.option_context('display.precision', 3):
    html = class_metrics.sort_values(by='MCC_test', ascending=False).style.\
        background_gradient(cmap='plasma', low=0.43, high=0.63,\
                            subset=['Accuracy_train', 'Accuracy_test']).\
        background_gradient(cmap='viridis', low=0.63, high=0.43,
                            subset=['F1_test'])
html

今回、偽陰性と偽陽性どちらかを優先することはしないため、適合率と再現率は同等の価値である。だいたい全てのモデルで似た値だが、決定木のみ適合率と再現率に差がある。F1スコアは適合率と再現率の調和平均であるため、だいたいのモデルで似た値になっているが、決定木のみ値が異なっている。

注意点として、テストデータと学習データのサイズの差が大きいことから、モデルがどれだけ過学習しているかがわかる。勾配ブースティングやランダムフォレストのように、過学習しないようにテストの精度をあげることは難しいことがわかる。

### MCC

### No Information Rate(Null error rate)
分類問題で、正解ラベルに偏りがあるときに、多くあるラベルのほうだけを予測すればよい精度がでてしまう。例えば、犬の画像が85%を占めていて、15%が猫であるようなとき、85%以上の精度を出す必要がある。

NIRを計算するには、多い方のクラスの数を、データ数で割ることで求められる。

In [14]:
print('NIR: %.4f'%(y_train[y_train==1].shape[0]/y_train.shape[0]))

NIR: 0.4215

## ツリーベースのモデルの重要度
ツリーベースモデルの重要度には
+ split frequency
+ gini(gain) importances
+ permutation importances
がある。

よく使われるのがジニ不純度を使って計算されている。

In [17]:
dt_imp_df = pd.DataFrame(
    {
        'name':X_train.columns,
        'dt_imp':class_models['decision_tree']['fitted'].feature_importances_
    }
    )
gb_imp_df = pd.DataFrame(
    {
        'name': X_train.columns,
        'gb_imp':class_models['gradient_boosting']['fitted'].feature_importances_
    }
    )
rf_imp_df = pd.DataFrame(
    {
        'name':X_train.columns,
        'rf_imp':class_models['random_forest']['fitted'].feature_importances_
    }
    )

３つのモデルはそれぞれ構造が違うため、Feature Importanceは同じスケールではない。相対的な尺度と見るのが良い。ソートしてみていく。

In [18]:
dt_rank_df = pd.DataFrame({'dt_rank': dt_imp_df['dt_imp'].rank(method='first',ascending=False).astype(int)})
gb_rank_df = pd.DataFrame({'gb_rank': gb_imp_df['gb_imp'].rank(method='first',ascending=False).astype(int)})
rf_rank_df = pd.DataFrame({'rf_rank': rf_imp_df['rf_imp'].rank(method='first',ascending=False).astype(int)})

上記のランク付けしたDataFrameを連結する。平均のランクもだした。

In [19]:
tree_ranks_df = pd.merge(
        pd.merge(
            pd.concat((dt_imp_df, dt_rank_df), axis=1),
            pd.concat((gb_imp_df, gb_rank_df), axis=1),
            'left'
        ),
    pd.concat((rf_imp_df, rf_rank_df),axis=1),
    'left'
    )
tree_ranks_df['avg_rank'] = (
    tree_ranks_df['dt_rank']+tree_ranks_df['gb_rank']+tree_ranks_df['rf_rank']/3
)
tree_ranks_df.sort_values(by='avg_rank')

,name,dt_imp,dt_rank,gb_imp,gb_rank,rf_imp,rf_rank,avg_rank
28,birthn,0.851533,1,0.368737,1,0.196067,1,2.333333
81,testelapse,0.013708,3,0.037906,2,0.027307,2,5.666667
0,Q1,0.025340,2,0.023554,6,0.016135,6,10.000000
26,age,0.006679,7,0.030061,3,0.025065,3,11.000000
12,Q13,0.008083,4,0.014559,7,0.011202,8,13.666667
...,...,...,...,...,...,...,...,...
91,country_NZ,0.000000,92,0.001078,90,0.000690,93,213.000000
83,gender_undefined,0.000000,87,0.000649,94,0.000241,96,213.000000
86,gender_other,0.000000,88,0.000578,95,0.000678,94,214.333333
90,country_IE,0.000000,91,0.000747,92,0.000577,95,214.666667
94,source_google,0.000000,95,0.000485,96,0.003204,82,218.333333

ここからわかるように、3つのモデルでのランクで類似点がある。一応重要度は相対的に見るべきで、例えば最小-最大スケールにすることもできる。しかし、それをすると特徴量間の順序は曖昧になって、代わりに距離がわかるのでどちらが良いかは場合による。

ジニ不純度を用いたFeature Importanceはモデル固有である。そのため、ジニ不純度によりカーディナリティが高い特徴量に偏ってしまう。カーディナリティが高い特徴量とは、より多くのユニークな値を持つ特徴量のこと。
> カーディナリティとは、数学で基数あるいは濃度という意味の用語。ITの分野では、リレーショナルデータベースにおいてあるテーブルの同一の列（カラム）に含まれる異なる値の数（バリエーション）のことを指すことが多い。

この例では、72種類の年齢がデータセットに表現されているが、すべての質問で5つから6つのユニークな値を持っているし、country_GBやgender_undefinedなどはすべてバイナリでユニークな値は2つ。平均ランクを見ると年齢はどの質問よりも重要であるはず。しかし、ジニ不純度によるカーディナリティを考慮する必要がある。

## ロジスティック回帰のFeature Importance